.players {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.player__wrapper {
  border-radius: 50px;
  background: #e6e6e6;
  box-shadow: 20px 20px 37px #cdcdcd, -20px -20px 37px #ffffff;
  padding: 4vh 5.5vw 4.5vh 5.5vw;
  max-width: 500px;
  align-self: start;
  margin: 20px 2vw;
}

.ab__controls {
  display: grid;
  align-content: center;
  align-items: baseline;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.a__button {
  width: 8rem;
  border-radius: 12px 0 0 12px;
  justify-self: self-end;
}

.b__button {
  width: 8rem;
  border-radius: 0 12px 12px 0;
  justify-self: self-start;
}

.play__button {
  justify-self: self-end;
}

.stop__button {
  width: 5rem;
  color: #966f6f;
  justify-self: self-start;
}

.stop__button:disabled {
  color: #966f6fd3;
}

.play__stop__controls {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 1rem;
}

.progress__container {
  display: inline-flex;
  background: #a8a8a8;
  height: 1rem;
  width: 100%;
  margin-bottom: 2.4rem;
  border-radius: 10px;
  border-radius: 12px;
  background: #e6e6e6;
  box-shadow: inset 7px 7px 15px #cdcdcd, inset -7px -7px 15px #ffffff;
  cursor: pointer;
  align-self: center;
  overflow: hidden;
}

.progress__bar {
  background: linear-gradient(360deg, #2da87b, #34dcacfa);
  border-radius: 12px;
  transition: all ease-in-out 0.03s;
}

.progress__fill {
  width: 0%;
}
