.progress__container {
  display: inline-flex;
  background: #a8a8a8;
  height: 1rem;
  width: 100%;
  margin-bottom: 2.4rem;
  border-radius: 10px;
  border-radius: 12px;
  background: #e6e6e6;
  box-shadow: inset 7px 7px 15px #cdcdcd, inset -7px -7px 15px #ffffff;
  cursor: pointer;
  align-self: center;
  overflow: hidden;
}

.progress__bar {
  background: linear-gradient(360deg, #2da87b, #34dcacfa);
  border-radius: 12px;
  transition: all ease-in-out 0.03s;
}

.progress__fill {
  width: 0%;
}
