
body {
	position: relative;
}

html, body {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	text-transform: uppercase;
}

h5, .h5 {
	font-weight: 400;
}

.navbar {
	padding: 9px 1rem;
}

.nav-link {
	transition: color 0.5s;
}

.header, .footer {
	display: table;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg-lightwall.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

@media (min-width: 34em) {
.display-1 {
	font-size: 2.618rem;
	letter-spacing: 0.25rem;
}

.display-2 {
	font-size: 2.058rem;
	letter-spacing: 0.25rem;
}
}

@media (min-width: 48em) {

.display-1 {
	font-size: 4.236rem;
	letter-spacing: 0.5rem;
}

.display-2 {
	font-size: 2.618rem;
	letter-spacing: 0.5rem;
	
}
}

.text-vertical-center {
	display: table-cell;
	vertical-align: middle;
}

.header .btn {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	margin-left: -33.5px;
}

.videoThumbWrapper {
	position: relative;
}

.videoThumbWrapper button.btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -33px;
	margin-top: -25.5px;
}

.juicer-feed h1.referral {
	display: none;
}

.juicer-feed.slider li.feed-item.feed-item.juicer {
	display: none;
}

.juicer-feed.slider li.feed-item[data-id="31531971"] {
	display: none;
}

.modal-credit {
	margin-bottom: 0;
}

section:last-of-type {
	border-bottom: none;
}