// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}

// Navbar

$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");

// Feathers

section {
  border-bottom: 1rem solid $gray-200;
  &:last-of-type {
    border-bottom: 0;
  }
}

.cover {
  border: 1px solid $gray-200;
}

@include media-breakpoint-up(sm) {
  .display-1 {
    font-size: 2.618rem !important;
    letter-spacing: .25rem !important;
  }
  .display-2 {
    font-size: 2.058rem !important;
    letter-spacing: .25rem !important;
  }
  .top-feather {
    width: 400px;
  }
}

@include media-breakpoint-up(lg) {
  .display-1 {
    font-size: 4.236rem !important;
    letter-spacing: .5rem !important;
  }
  .display-2 {
    font-size: 2.618rem !important;
    letter-spacing: .5rem !important;
  }
  .top-feather {
    width: 600px;
  }
}