// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #021432;
$gray:                   	#0b3e96;
$gray-light:                #789fe2;
$gray-lighter:              #e8eaed;
$gray-lightest:             #fdfeff;

$brand-primary:             #336ccc;
$brand-secondary:           #bf6e26;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            false;

// Body
//
// Settings for the `<body>` element.

$body-bg:    				$gray-lightest;
$body-color: 				$gray-dark;

// Links
//
// Style anchor elements.

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-color:      $gray;
$link-hover-decoration: underline;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 2),
    y: ($spacer-y * 2)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
);
$border-width: 1px;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px;

$font-size-base: 1rem;
$font-size-lg:   1.272rem;
$font-size-sm:   .786rem;
$font-size-xs:   .618rem;

$line-height-base: 1.5;

$font-size-h1: 4.236rem;
$font-size-h2: 2.618rem;
$font-size-h3: 2.058rem;
$font-size-h4: 1.618rem;
$font-size-h5: 1.272rem;
$font-size-h6: 1rem;

$display1-size: 2.058rem;
$display2-size: 1.618rem;
$display3-size: 1.618rem;
$display4-size: 1.618rem;

$display1-weight: 400;
$display2-weight: 200;
$display3-weight: 200;
$display4-weight: 200;

$headings-font-family:   inherit;
$headings-font-weight:   500;
$headings-line-height:   1.1;
$headings-color:         inherit;

$lead-font-size:   1.618rem;
$lead-font-weight: 200;

$small-font-size: 78.6%;

$figure-caption-font-size: .786rem;

$text-muted: $gray-light;

$hr-border-color: $gray-lighter;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:         1.5;
$line-height-sm:         1.5;

// Modals

// Padding applied to the modal body
$modal-inner-padding:         1rem;

$modal-dialog-margin:         1rem;
$modal-dialog-sm-up-margin-y: 2rem;

$modal-title-padding:         1rem;
$modal-title-line-height:     $headings-line-height;

$modal-content-bg:               $gray-lightest;
$modal-content-border-color:     rgba(0,0,0,.2);
$modal-content-border-width:     $border-width;
$modal-content-xs-box-shadow:    0 3px 9px rgba(0,0,0,.5);
$modal-content-sm-up-box-shadow: 0 5px 15px rgba(0,0,0,.5);

$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      .5;
$modal-header-border-color:   #e5e5e5;
$modal-footer-border-color:   $modal-header-border-color;
$modal-header-border-width:   $modal-content-border-width;
$modal-footer-border-width:   $modal-header-border-width;

$modal-lg:                    1312px;
$modal-md:                    600px;
$modal-sm:                    300px;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-primary-color:              $gray-lightest;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-secondary-color:            $gray-lightest;
$btn-secondary-bg:               $brand-secondary;
$btn-secondary-border:           $btn-secondary-bg;

// Navbar

$navbar-padding-x:                  $spacer;
$navbar-padding-y:                  ($spacer / 2);
$navbar-brand-padding-y:            .25rem;

$navbar-dark-color:                 $gray-dark;
$navbar-dark-hover-color:           $brand-primary;
$navbar-dark-active-color:          $brand-primary;
$navbar-dark-disabled-color:        $brand-primary;

// Feathers

.navbar {
	background-color: transparent;
	border-bottom: 1px solid transparent;	
	transition: background-color 0.5s, border-bottom 0.5s;
}

.navbar-fixed-top.top-nav-shrink {
	background-color: $gray-lighter;
	border-bottom: 1px solid $gray-dark;
}

.navbar.navbar-dark .navbar-brand {
	color: $gray-dark;
}

.navbar-fixed-top.top-nav-shrink .navbar-dark .navbar-brand {
	color: $brand-primary;
}

@media (max-width: 47.9em) {

.navbar {
	background-color: $gray-lighter;
	border-bottom: 1px solid $gray-dark;
}

.navbar-nav .nav-item+.nav-item {
	margin-left: 0!important;
}
}

section {
	border-bottom: 1rem solid $gray-lighter;
}

#covers img {
	border: 1px solid $gray-lighter;
}

.figure-caption {
  color: $gray-dark!important;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: lighten($gray-lighter, 5%)!important;
}