// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}

// Navbar

$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");

// Feathers

section {
  border-bottom: 1rem solid $gray-200;
  &:last-of-type {
    border-bottom: 0;
  }
}

.cover {
  border: 1px solid $gray-200;
}

@include media-breakpoint-up(sm) {
  .display-1 {
    font-size: 2.618rem !important;
    letter-spacing: .25rem !important;
  }
  .display-2 {
    font-size: 2.058rem !important;
    letter-spacing: .25rem !important;
  }
  .top-feather {
    width: 400px;
  }
}

@include media-breakpoint-up(lg) {
  .display-1 {
    font-size: 4.236rem !important;
    letter-spacing: .5rem !important;
  }
  .display-2 {
    font-size: 2.618rem !important;
    letter-spacing: .5rem !important;
  }
  .top-feather {
    width: 600px;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

h5, .h5 {
  font-weight: 400;
}

.display-1, .display-2 {
  transition: font-size, 0.5s, letter-spacing, 0.5s;  
}

.nav-link {
  transition: color 0.5s;
}

.navbar {
    padding: .75rem 1rem;
    transition: padding 0.5s;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
    border-bottom: 1px solid #d2d5db;
    background-color: rgba(232,234,237,0.95);
}

.navbar.top-nav-shrink {
    padding: .25rem 1rem;
}

.header, .footer {
  background-image: url('../img/bg-lightwall.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.header.mixing {
  height: 50vh;
}

.header .btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
    margin-left: -25.725px;
}

.videoThumbWrapper {
  position: relative;
}

.videoThumbWrapper button.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -33px;
  margin-top: -25.5px;
}

.juicer-feed h1.referral {
  display: none;
}

.juicer-feed.slider li.feed-item.feed-item.juicer {
  display: none;
}

.juicer-feed.slider li.feed-item[data-id="31531971"] {
  display: none;
}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

header .display-1 {
  animation-delay: .5s;
}

header .display-2 {
  animation-delay: .5s;
}

.top-feather {
  animation-delay: 1s;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media (min-aspect-ratio: 15/10) { 
  /*.header, .footer {
    background-position: center -85px;
  }*/
  .bottom-feather {
    display: none!important;
  }
}

.playBtn.active .fa-play::before {
    content: "\f04c";
}

.switchBtn {
  -webkit-box-shadow: 0 0 8px 4px rgba(0,0,0,0.4) inset;
  box-shadow: 0 0 8px 4px rgba(0,0,0,0.4) inset;
}

.switchBtn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}